.DS_Store
local
*.log
buzo.db
.vscode/
__pycache__/
app/__pycache__/
venv/
node_modules/

*/.DS_Store
*/node_modules/*
*/dist

# local env files
*/.env.local
*/.env.*.local

# Log files
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
node_modules
